<h1>Découverte Angular</h1>
<a href="https://google.com" no-open>Google</a>
<br />
<hr />
<a href="https://google.com" confirm confirm-message="Vous êtes sûr ?!"
  >Google confirm!</a
>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quis
  quaerat unde praesentium placeat possimus quisquam, aperiam cupiditate ipsum
  vel reiciendis sed neque! Corrupti, aliquid!
</p>
<p [highlight]="'yellow'" aze="red">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
  voluptatibus sequi asperiores aliquid magni voluptas!
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda
  cupiditate consequuntur delectus modi optio numquam laboriosam, fugiat rem
  magni quis illo inventore minima voluptatibus?
</p>
<app-parent></app-parent>
